body {
  font-family: 'Arial', sans-serif;
  background-color: #e9f5e9;
  color: #333;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin-bottom: 0;
}

/* Header and Navigation Styles */
header {
  width: 100%;
  color: white;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  font-size: 24px;
  margin: 0;
}

nav {
  display: flex;
  gap: 15px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 10px;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 5px;
}

nav a:hover {
  background-color: #2e7d32; /* Dark Green */
  color: #ffffff;
}

/* Image Uploader Styles */
.image-uploader {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  padding: 30px;
  text-align: center;
  max-width: 400px;
  width: 100%;
  margin-top: 30px;
}

h1 {
  color: #49a54d; /* Dark Green */
  font-size: 24px;
  margin-bottom: 20px;
}

input[type="file"] {
  padding: 10px;
  border: 2px solid #388e3c; /* Medium Green */
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
  margin-bottom: 20px;
  transition: border-color 0.3s;
}

input[type="file"]:hover {
  border-color: #2e7d32; /* Dark Green on hover */
}

button {
  background-color: #388e3c; /* Medium Green */
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #2e7d32; /* Dark Green on hover */
}

h2 {
  margin-top: 20px;
  color: #2e7d32; /* Dark Green */
}

img {
  border-radius: 8px;
  margin-top: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  height: auto;
}
